html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 70px;
  background-color: rgb(77, 46, 5);
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: brown;
}

a:hover {
  color: gold;
  text-decoration: underline;
}
